* {
  box-sizing: border-box;
}

html,
body,
input,
textarea,
button {
  font-family: 'DM Sans', sans-serif;
}

html,
body,
#__nuxt,
.layout {
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
.link {
  color: var(--text-white-45);

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;

  &:visited {
    color: var(--text-white-45);
  }
}

.w-100 {
  width: 100%;
}

h1 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

h2 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

h3 {
  color: #000;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.label-text {
  color: #000;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.navigation {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text-1 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.text-2 {
  color: #000;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.text-3 {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.text-4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.helper-text {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
}
